body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;display: flex;
    justify-content: stretch;
    flex-direction: column;
     
  }

  .emojis { display:grid; grid-template-columns: 450px 450px;
    grid-template-rows: 330px 330px;
    column-gap: 15px;
    row-gap: 15px;

}
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {width: 395px;
    margin-top: auto;
    align-self: center;
    display: block;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon { align-self: center;
    order: -1;
    font-size: 4rem;
  }